/* #region ___ */ /* #endregion */
/* #region Main */
@font-face {
    font-family: "Manrope";
    src: url(media/fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: "Manrope bold";
    src: url(media/fonts/Manrope-Bold.ttf);
}
@font-face {
    font-family: "Manrope semi";
    src: url(media/fonts/Manrope-SemiBold.ttf);
}

* {
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #E2E8ED;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope bold";
}

h1 {
    font-size: 46px;
}
h2 {
    font-size: 30px;
}
h3 {font-size: 25px;}

p {
    margin-bottom: 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.flex {
    display: flex;
}

/* .footer {min-height: 600px;} */

.left {width: 50%;}
.right {width: 50%;}

/* #endregion */

/* #region Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
}



/* #endregion */

/* #region Hero */ 

.hero {
    display: flex;
    min-height: 600px;
    width: 1200px;

}

.hero_left {
    width: 50%;
}

.hero_left p {
    margin-bottom: 60px ;
}

.hero_left a {
    background-color: rgb(42, 147, 212);
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    text-decoration: none;


}

.hero_right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(media/img/1.png);
    background-repeat: no-repeat;
}

/* #endregion */

/* #region Course */ 

.course .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h2 {
    font-size: 40px;
}

.courses {
    display: flex;
    margin-bottom: 30px
}

.course1, .course2, .course3 {
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
    margin: 15px;
}



.course a, .blue_btn  {
    background-color: rgb(42, 147, 212);
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    text-decoration: none;


}

/* #endregion */

/* #region CTA */ 

.cta {
    background-image: url(media/img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    border-radius: 20px;

}

.cta_content {
    margin: 30px;
    padding: 50px;
    width: 50%;
}

/* #endregion */


/* #region Rastyajka */ 

.rastyazka {
    display: flex;
    min-height: 200px;
    margin-top: 50px;

}

.rast_left {
    width: 50%;
    background-image: url(media/img/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.rast_right {
    width: 50%;
    /* background-color: white; */
    padding: 10px 20px;
    border-radius: 20px;
}

/* #endregion */



.treners {
    margin-top: 50px;
}

.down {
    display: flex;
    margin-top: 50px;
}

.tr_card {
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
    margin: 10px;
}

.tr_card p {
    font-size: 12px;
    margin-bottom: 5px;
}
.tr_card h4 {
    margin: 5px;
}

.tr_card img {
    height: 200px;
}

.white_btn {
    background-color: white;
    color: rgb(42, 147, 212);
    padding: 15px 50px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
}

.about {
    display: flex;
    margin-top: 100px;
    /* background-color: #eaeff3; */
}

.about .right {
    width: 50%;
    height: 400px;
    background-image: url(media/img/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}


.steps {
    display: flex;
    
    margin-top: 30px;
}

.step {
    max-width: 300px;
}

.how_it_works h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.form {
    text-align: center;
    margin-top: 100px;
    width: 600px;
    box-sizing: border-box;
}

.form form {
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}